{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block extrahead %}
{{ form.media }}
{% endblock %}


{% block content %}
<div class="container-fluid col-lg-10 col-md-8 col-sm-6"
     style="border-radius: 1rem;
     border: 2px solid #7aa180;
     margin-top: 8rem; position:relative; padding: 5rem;">
    <img class="d-none d-lg-block d-xl-block"
            src="{% static 'images/sign_in_dog.png' %}"
         style="width: 30%; position: absolute; top: 30%; left: 10%" alt="">
    <div class="container-fluid align-middle">
        <h1 class="text-center col-lg-3 offset-lg-7 col-md-8 offset-md-2 col-sm-8 offset-sm-3">PET INFO</h1>
        <small class="text-center text-danger font-weight-bold">
            {{ error }}
        </small>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group col-lg-5 offset-lg-6 col-md-10 offset-md-1 col-sm-10 offset-sm-3">
                    <label for="{{ field.id_for_label }}">
                        {{ field.label }}
                    </label>
                    {{ field }}
                 </div>
            {% endfor %}
            <button class="btn btn-lg btn-block col-lg-3 offset-lg-7 col-md-8 offset-md-2 col-sm-8 offset-sm-3"
                    type="submit" style="background-color: #7aa180; color: white;">Get PID!</button>
        </form>
    </div>
</div>
{% endblock %}