<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main(Owner)</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link href="/static/package/view.min.css?1523326877410" rel="stylesheet" type="text/css">



    <style type ="text/css">


      body{background-color:#F4F4F4;}

      #div_root{margin:auto; float:left;
                 }
      #div_content{width : 100%; float: left height : 600px}
      #div_top{
        width:100%; height :30px;
        float:left;
      }
      #div_line{width:100%; float:left;}
      #div_imagepart{width:50%; text-align : left;

        float: right;

      }
      #div_textbox{width:100%; float: left; text-align :center;}

      #div_down{width:100%; float : left; text-align: center; }


      input.down-button {
        background: url( "https://blogfiles.pstatic.net/MjAxOTExMjdfNzIg/MDAxNTc0ODQ5MTU4Njkw.HdTRMdtuzdsBt7F1Ni4hbXI3Oeb0Kl4kFa9G3RNz6lEg.u6S2QVdyninHGXJZNhsu5LLjxKb2zTxsJ9dIK-3XynUg.PNG.shjthd92/circulardownarrowbutton_122027.png?type=w1" ) no-repeat;
        border: none;
        width: 32px;
        height: 32px;
        cursor: pointer;}


              input.up-button {
                background: url( "https://blogfiles.pstatic.net/MjAxOTExMjdfMjg5/MDAxNTc0ODUyMzk4NTYz.cc5ZSN45WcC6vPOZ3y-LpkgwHXqNQIZYOsBHkJo_pPog.gTxAuWevDni2-Vr5LbaHpv6Raqx1xXVobfGQtLKo0wUg.PNG.shjthd92/circulardownarrowbutton_122027.png?type=w1" ) no-repeat;
                border: none;
                width: 32px;
                height: 32px;
                cursor: pointer;}




  </style>
  </head>

  <body >

    <div class = "div_root"><div class = "container">
      <div id = "div_top" ><img src = "https://blogfiles.pstatic.net/MjAxOTExMjdfMSAg/MDAxNTc0ODQ2NzA5NzAw.FE7TBgcjwN7y3o_wMyQIY9UKWp6_ZqDg12hLixOB-hcg.HACsjzQpyNWCkdeFikVCduOSVZSLHHRrJf7PjZq4crkg.PNG.shjthd92/KakaoTalk_20191107_160754250_01.png?type=w1"width = 50px>
                          <button type = "button" class="btn btn-outline-secondary" style = "float:right; margin:5px">contact us</button>
                          <button type = "button" class="btn btn-outline-secondary" style = "float:right; margin:5px" onClick="location.href='/main'">log out</button>
                            <button type = "button" class="btn btn-outline-secondary" style = "float:right; margin:5px">register</button></div></div>


      <div id = "div_line"><hr></div>

<div style="clear:both;"></div>



<div id = "content" style = "text-align : center;">




<div class = "container">
<div data-text-content="true" style="font-size:16px; float: right; margin-right: 20px  " class=""><img src = "https://blogfiles.pstatic.net/MjAxOTExMjhfMTM0/MDAxNTc0OTQ1MzQyMjkw.sbtyRnAcrEpY5290S14jnYx9KZ29RQhV4pdhxJVxJPcg.I9kzQjTjPcFQ1VMmBfFc_eAqHrDCyc8wWTnHxKbBvkog.PNG.shjthd92/profile_121261.png?type=w1"> 　Steven Gerrard, Pet Owner</div>
</div>
  <div data-obj-id="iRv8b" data-obj-type="element" data-text-editable="true" class="" style="position: absolute; top: 161px; left: 477px; width: 446px; height: 277px;"><img src = "https://blogfiles.pstatic.net/MjAxOTExMjhfMyAg/MDAxNTc0OTM5MTk3MzI2.MimzZbFkNdrQNDzVHemDGgVac6S_y1YCAqxBdwtjueAg.sSmFulxFWtpLkbXsEw4D7zsWovL_nGqYMXWplqHmGlMg.PNG.shjthd92/backgronund_for.png?type=w1" width = 446 height =275><div data-text-content="true" style="border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.227) 3px 3px 8px 0px; background-color: rgb(243, 240, 240); border-width: 2px; border-style: solid; border-color: rgb(46, 204, 113); text-shadow: rgb(46, 204, 113) 5px 5px 5px;"></div></div>
    <div data-obj-id="iRv8b" data-obj-type="element" data-text-editable="true" class="" style="position: absolute; top: 161px; left: 477px; width: 446px; height: 277px;"><div data-text-content="true" style="border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.227) 3px 3px 8px 0px; background-color: rgb(243, 240, 240); border-width: 2px; border-style: solid; border-color: rgb(46, 204, 113); text-shadow: rgb(46, 204, 113) 5px 5px 5px;"></div></div>
    <div data-obj-id="0RnOs" data-obj-type="element" data-text-editable="true" class="" style="position: absolute; top: 355.5px; left: 512px; width: 358.393px; height: 34px;"><div data-text-content="true" style="font-size: 12px; color: rgb(158, 158, 158);" class="" spellcheck="false">Registration Date : 2019/11/15<div>Last Transaction : 2019/12/17</div></div></div>
    <div data-obj-id="qxLJq" data-obj-type="element" data-text-editable="true" class="" style="position: absolute; top: 188px; left: 660px; "><div data-text-content="true" style="font-weight:bold;font-size:22px;text-align:left" class=""> <p style = "text-align: left;"> Elvis </p><p style = "font-size:15px">age : 5 <br> Birth Date : 2014/08/17 <br>Breed : Mixed(Golden Retriever) </p> </div>
  </div>
    <div data-obj-id="0RnOs" data-obj-type="element" data-text-editable="true" class="" style="position: absolute; top: 355.5px; left: 512px; width: 358.393px; height: 34px;"><div data-text-content="true" style="font-size: 12px; color: rgb(158, 158, 158);" class="" spellcheck="false">Registration Date : 2019/11/15<div>Last Transaction : 2019/12/17</div></div></div>
    <div data-obj-id="ICM5V" data-obj-type="image" class="" style="position: absolute; top: 187px; left: 507px; width: 139px; height: 148px;"><img src = "https://blogfiles.pstatic.net/MjAxOTExMjZfMjMg/MDAxNTc0NzY3NDE0NzYz.J0V7dCGD-mYzg7KddyL1JQGGylRExoRg-aTx5gZMlEwg.oO8J-usLI0fXScav4aySBI4f63yO6ollhgIXe5cGULQg.JPEG.shjthd92/dog-1194087_1920.jpg?type=w1" width = 139 height = 139><div data-image-content="true" style="border-width: 2px; border-style: solid; border-color: rgb(52, 152, 219);">
    </div></div>





<div data-obj-id="U7UwB" data-obj-type="element" data-text-editable="true" class="" style="position: absolute; top: 224px; left: 198px; width: 199px; height: 152px;"><div data-text-content="true" style="background-color: rgba(0, 0, 0, 0.7); border-radius: 10px; border-width: 2px; border-style: solid; border-color: rgba(255, 180, 173, 0.69); text-shadow: rgb(231, 76, 60) 5px 5px 5px; opacity: 0.7;" class=""></div><img src = "https://blogfiles.pstatic.net/MjAxOTExMjhfMyAg/MDAxNTc0OTM5MTk3MzI2.MimzZbFkNdrQNDzVHemDGgVac6S_y1YCAqxBdwtjueAg.sSmFulxFWtpLkbXsEw4D7zsWovL_nGqYMXWplqHmGlMg.PNG.shjthd92/backgronund_for.png?type=w1" width = "200px" height = 97px></div>

<!--<div data-obj-id="OON58" data-obj-type="element" data-text-editable="true" class="" style="position: absolute; top: 520px; left: 631px; width: 138px; height: 25px;"><div data-text-content="true" style="border-top-left-radius: 30px; border-top-right-radius: 30px; border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; text-align: center; line-height: 20px; color: rgb(255, 255, 255); font-size: 12px; box-shadow: none; background-color: rgb(26, 188, 156);" class="btn" onClick="location.href='update'">
  Update Information
</div>
</div>-->
<div data-obj-id="OON59" data-obj-type="element" data-text-editable="true" class="" style="position: absolute; top: 465px; left: 631px; width: 138px; height: 25px;">
  <div data-text-content="true" style="border-top-left-radius: 30px; border-top-right-radius: 30px; border-bottom-right-radius: 30px; border-bottom-left-radius: 30px; text-align: center; line-height: 20px; color: rgb(255, 255, 255); font-size: 12px; box-shadow: none; background-color: rgb(26, 188, 156);" class="btn" onClick="location.href = '/main_transac'">
    See More...
  </div>
</div>


<div data-obj-id="U7UwB" data-obj-type="element" data-text-editable="true" class="" style="position: absolute; top: 224px; left:1000px; width: 199px; height: 152px;"><div data-text-content="true" style="background-color: rgba(0, 0, 0, 0.7); border-radius: 10px; border-width: 2px; border-style: solid; border-color: rgba(255, 180, 173, 0.69); text-shadow: rgb(231, 76, 60) 5px 5px 5px; opacity: 0.7;" class=""></div><img src = "https://blogfiles.pstatic.net/MjAxOTExMjhfMyAg/MDAxNTc0OTM5MTk3MzI2.MimzZbFkNdrQNDzVHemDGgVac6S_y1YCAqxBdwtjueAg.sSmFulxFWtpLkbXsEw4D7zsWovL_nGqYMXWplqHmGlMg.PNG.shjthd92/backgronund_for.png?type=w1" width = "200px" height = 97px></div>

<div data-obj-id="OKQGV" data-obj-type="image" class="" style="position: absolute; top: 242px; left: 213px; width: 71px; height: 93px;"><img src = "https://blogfiles.pstatic.net/MjAxOTExMjZfMzMg/MDAxNTc0NzY3NDIwNzgz.uo9KFULahv7qPvEXb8FmjKxo2MfZh6zBdC7cQhD7uVAg.JI3O_DNId-oBAlBQvxVVk_o9ueib5Zc5Ra7sjytbIPgg.JPEG.shjthd92/white-2704022_1920.jpg?type=w1" width =60 height = 60 ><div data-image-content="true" style="background-image: url(&quot;/static/imagefarm/100072251/de7nFZ7ZLDyZj9rBnMp3PtMw9ijHm1tI&quot;); border-radius: 10px;"></div></div>
<div data-obj-id="OKQGV" data-obj-type="image" class="" style="position: absolute; top: 242px; left: 1015px; width: 71px; height: 93px;"><img src = "https://blogfiles.pstatic.net/MjAxOTExMjZfMTI3/MDAxNTc0NzY3NDEzODI1.rm9t8Cojq9xuMHdngcp2X_d0z8934RBv_GlLh3O-4jsg.3iRB6Og76zyg1ouzqArIqKVVNT65KTyWf--v5OanNEYg.JPEG.shjthd92/cat-1151519_1280.jpg?type=w1" width =60 height = 60 ><div data-image-content="true" style="background-image: url(&quot;/static/imagefarm/100072251/de7nFZ7ZLDyZj9rBnMp3PtMw9ijHm1tI&quot;); border-radius: 10px;"></div></div>
  </div>


<div style="clear:both;"></div>

</div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </body>
</html>
