{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Normalize.css: 브라우저마다 다른 CSS기본 설정값들을 같게 맞춰줌 -->
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <style>
        body{
            background-color: #d6d0d0;
        }
    </style>
    {% block extrahead %}
    {% endblock %}
    <title>COLI</title>
</head>
<body>
    <div class="wrap text-monospace">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>