{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!--네비게이션 바-->
		<nav class="navbar navbar-expand-lg navbar-light sticky-top d-flex"
             style="background-color: #ded8d8; padding: 0 8px">
            <!--로고-->
			<a href="#" class="navbar-brand">
                <img src="{% static 'images/coli_logo.png' %}"
                     width="50" height="50" alt="">
            </a>
			<!--메뉴 버튼-->
			<ul class="navbar-nav ml-md-auto">
	            {%  if user.is_authenticated %}
                    <li class="nav-item mr-sm-1 text-success font-weight-bold align-self-center">
                            <b>Welcome! {{ user.get_full_name }}</b>
                    </li>
                    <li class="nav-item mr-sm-3 ml-3">
                        <form action="{% url 'members:logout' %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-secondary">Logout</button>
                        </form>
                    </li>

                {% else %}
                    <li class="nav-item mr-sm-2">
                        <a href="{% url 'members:login' %}" class="btn btn-outline-secondary">Login</a>
                    </li>
                    <li class="nav-item mr-sm-2">
                        <a href="{% url 'members:signup' %}" class="btn btn-outline-secondary">SignUp</a>
                    </li>
                {% endif %}
                <li class="nav-item mr-sm-1">
					<a href="#" class="btn btn-outline-secondary">Contacts</a>
				</li>
			</ul>
		</nav>
{#----------#}
    {% if not user.is_authenticated %}
    <div class="jumbotron-fluid position-relative p-5">
        <img class="m-2" src = "{% static 'images/main_image.svg' %}" width="60%">
        <div class="container-fluid position-absolute text-right"
             style="top: 40%; right: 0; margin-right: 8rem">
            <p style="font-size: 2.5vw; font-weight: 600;">COLI:Pet DID Service</p>
            <p style="font-size: 1vw;">
                Protect your Adorable friend with COLI<br><br>
                It provides Identity of Pets as a distinct individual<br>
          and Easement for managing Petsonal information<br>
          by using Blockchain Technology
            </p>
        </div>
    </div>
    <hr>
    {#---------#}
    <div id = "content">
      <div class="container" style="margin-top: 8rem; margin-bottom: 8rem; text-align:center">
          <div class="row">
            <div class="col-4">
              <div class="card" style = "text-align:center; background-color: #cfc9c9; height: 400px"><text-align = center>
                <br>
                <img src="https://blogfiles.pstatic.net/MjAxOTExMjZfNyAg/MDAxNTc0NzY3NDE0NDA3.UHojQR0gwcxpD00FxT6f5CW5yd2GtfU-YNhlFgLlSmAg.64dq2BSg_aedMHHJCwrfVGIWgjmd6FSYIGvtRyTdEnMg.PNG.shjthd92/dog.png?type=w1" width = "50%" height = "50%" >
                <div class="card-body" style="background-color: #cfc9c9">
                  <p class="card-text">Easy Registration <br> with their own Noseprint <br><br> "COLI will not hurt your Pet."</p><br>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card" style = "background-color: #cfc9c9; text-align:center; height: 400px"><text-align = center>
                <br>
                <img src="https://blogfiles.pstatic.net/MjAxOTExMjZfMTYz/MDAxNTc0NzY3NDE0MDk3.aQ64O1TYrc-bDDrKUdNeVBcO6lIuzcLbshqZs5XgRfwg.eGJKYp_xvTwzRL-2f8K7q-wZFR4Cc8ezs7Uk6jbVrI4g.PNG.shjthd92/check-list.png?type=w1" width = "50%" height = "50%"  >
                <div class="card-body" style="background-color: #cfc9c9">
                  <p class="card-text">Trusted Data Managing Platform for Petsonal Info <br><br> "Record Everything, <br> Search Easy, <br>Manage Data at-a-glance"</p>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card" style = "background-color: #cfc9c9; text-align:center; height:400px"><text-align = center>
                <br>
                <img src="https://blogfiles.pstatic.net/MjAxOTExMjZfMTM4/MDAxNTc0NzY3NDIwMDQ3.VW-Cbp7w1WzDicx2jgtMy6AHbsERN0Fij7NQFBgoG-Ig.A7d3wEQom7L82DuT7namD4dlG6wHYbOy3cVVpcUaYHsg.PNG.shjthd92/wanted.png?type=w1" width = "50%" height = "50%"  >
                <div class="card-body" style="background-color: #cfc9c9">
                  <p class="card-text">Find your Pets <br> with Image Recognition <br><br> "Lost friend, We'll find you"</p><br>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>

    {#-------#}
     <div class="container" style = "text align :center; margin-bottom: 8rem; margin-top: 8rem">
        <text-align = center>
          <div class="row">
            <div class="col-3">

              <div class="card" style = "text-align:center;background-color: #cfc9c9; height: 300px; " ><text-align = center>
                <br>
                <div class = "card-head">
                <img src="https://blogfiles.pstatic.net/MjAxOTExMjZfMjM0/MDAxNTc0NzY3NDE5Nzc1.RRlk5tNER_pRMyqSpzPvM4DIKzdazmg88dt7pfF5W9kg.3WXPbtAvWyuka5ARcnp5lVCtZUmI5pCGQtwgj9_KECog.PNG.shjthd92/veterinarian.png?type=w1" width = "50%" height = "50%" >
                </div>
                <div class="card-body">

                  <p class="card-text">Visit  Vet near your home<br></p>
                    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search Vet in your town">
      <span class="input-group-btn">
         <button type="submit" class = "btn btn-outline-secondary" onClick="location.href='http://www.kvma.or.kr/find_shap'"><img src="https://blogfiles.pstatic.net/MjAxOTExMjhfMjI1/MDAxNTc0OTM0NTI1MjQ1.LRSpFGuWMh4AX9NNz7i_6N932hjZ6Y5BfN3wmOcDb5og.ETSVmmji4TzqCBdLWG9EcOe6G75Jo5YHDptNF6OgOQ8g.PNG.shjthd92/magnifier-1_icon-icons.com_56924.png?type=w1" width = 20px height = 20px></button>
      </span>
    </div><br>

                </div>
              </div>
            </div>

            <div class="col-3">

              <div class="card" style = "text-align:center; height:300px;background-color: #cfc9c9; "><text-align = center>
                <br>
                <div class = "card-head">
                <img src="https://blogfiles.pstatic.net/MjAxOTExMjZfMjMg/MDAxNTc0NzY3NDE5NDI4.Vr8SkXM4od0_Shy5VslnngfqjNPfpLzP1uoqFdrJKHcg.PzG5aT5nya8Ju8qNNEz4Z31D3s6Kd7DMBRYNsX2Q2bYg.PNG.shjthd92/veterinarian_%281%29.png?type=w1" width = "50%" height = "50%"  >
                </div>
                <div class="card-body">
                  <br>
                  <p class="card-text">Fill required Form <br> under the instruction of Vet</p>

                </div>
              </div>
            </div>

            <div class="col-3">

              <div class="card" style = "text-align:center;background-color: #cfc9c9; height: 300px"><text-align = center>
                <br>
                <div class = "card-head">
                <img src="{% static 'images/nose_print.png' %}" width = "100%" height = "50%"  >
                </div>
                <div class="card-body">

                  <p class="card-text"><br>Registrate Your Fingerprint <br>and Pet's Noseprint </p><br>

                </div>
              </div>
            </div>

            <div class="col-3">

              <div class="card" style = "text-align:center;background-color: #cfc9c9; height: 300px"><text-align = center>
                <br>
                <div class = "card=head">
                <img src="https://blogfiles.pstatic.net/MjAxOTExMjZfMTYz/MDAxNTc0NzY3NDE0MDk3.aQ64O1TYrc-bDDrKUdNeVBcO6lIuzcLbshqZs5XgRfwg.eGJKYp_xvTwzRL-2f8K7q-wZFR4Cc8ezs7Uk6jbVrI4g.PNG.shjthd92/check-list.png?type=w1" width = "50%" height = "50%" >
                </div>
                <div class="card-body">

                  <p class="card-text">Find your Pets <br> with Image Recognition <br><br> "Lost friend, We'll find you"</p><br>

                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
{#-----------#}
    {% elif user.is_authenticated and not user.public_key %}
        <div class="jumbotron col-lg-6 offset-lg-3 col-md-8 offset-md-2" style="margin-top: 6%; background-color: #cfccca">
          <h1 class="display-5">Hello, {{ user.get_full_name }}!</h1>
          <p class="lead">
              You haven't made a <span style="color: #7aa180;">key</span> yet!<br>
              The key is required to store the DID in the Blockchain DB. <br>
              Please Click the button below to create and save your Key!
          </p>
          <hr class="my-4">
          <p class="text-danger font-weight-bold">
            Note: <br>
              You will only be able to download the key once, <br>
              and you will not be able to use the service if you lose it. <br>
              Also be careful not to spill it outside.
          </p>
          <a class="btn btn-primary btn-lg" href="{% url 'members:keygen' %}" role="button">Get your Keys!</a>
          <a class="btn btn-secondary btn-lg" href="{% url 'main' %}" role="button">Return to Home</a>
        </div>
{#----------------#}
    {% elif user.is_authenticated and user.public_key %}
        <!--Check user.public_key has an asset-->
        {% if not user.have_asset %}
            <div class="jumbotron col-lg-6 offset-lg-3 col-md-8 offset-md-2"
                 style="margin-top: 6%; background-color: #cfccca; border: solid 2px #8fd19e">
              <h1 class="display-5">Issue your New DID</h1>
              <p class="lead">
                  You haven't made a <span style="color: #7aa180;">DID</span> yet!<br>
                  Please Visit a Vet near your home and Create an DID
              </p>
              <hr class="my-4">
              <p class="text-info font-weight-bold">
                Note: <br>
                  If you are registering a DID with your vet now,<br>
                  press the CREATE button below.
              </p>
              <a class="btn btn-success btn-lg offset-lg-10 offset-md-9"
                 href="{% url 'main' %}" role="button">CREATE</a>
            </div>
        {% else %}
        {% endif %}
    {% endif %}
{% endblock %}